<p id="notice"><%= notice %></p>

<h1>Base Plates</h1>

<table>
  <thead>
    <tr>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_plates.each do |base_plate| %>
      <tr>
        <td><%= base_plate.height %></td>
        <td><%= link_to 'Show', base_plate %></td>
        <td><%= link_to 'Edit', edit_base_plate_path(base_plate) %></td>
        <td><%= link_to 'Destroy', base_plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base plate', new_base_plate_path %>
