<%= form_for(@vice) do |f| %>
    <% if @vice.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(@vice.errors.count, "error") %> prohibited this vice from being saved:</h2>

	    <ul>
		<% @vice.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="field">
	<%= f.label "X" %><br>
	<%= f.number_field :xPos, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Y" %><br>
	<%= f.number_field :yPos, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Z" %><br>
	<%= f.number_field :zPos, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "X Length" %><br>
	<%= f.number_field :xLength, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Y Length" %><br>
	<%= f.number_field :yLength, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Base Height" %><br>
	<%= f.number_field :baseHeight, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Top Height" %><br>
	<%= f.number_field :topHeight, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Clamp Width" %><br>
	<%= f.number_field :clampWidth, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Max Jaw Width" %><br>
	<%= f.number_field :maxJawWidth, :class => "text_file", :step => "any" %>
    </div>
    <div class="field">
	<%= f.label "Protective Base Plate Height" %><br>
	<%= f.number_field :protectiveBasePlateHeight, :class => "text_file", :step => "any" %>
    </div>
    <div class="actions">
	<%= f.submit %>
    </div>
<% end %>
