<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @vice.xPos %>
</p>

<p>
  <strong>Y:</strong>
  <%= @vice.yPos %>
</p>

<p>
  <strong>Z:</strong>
  <%= @vice.zPos %>
</p>

<p>
  <strong>Xlength:</strong>
  <%= @vice.xLength %>
</p>

<p>
  <strong>Ylength:</strong>
  <%= @vice.yLength %>
</p>

<p>
  <strong>Baseheight:</strong>
  <%= @vice.baseHeight %>
</p>

<p>
  <strong>Topheight:</strong>
  <%= @vice.topHeight %>
</p>

<p>
  <strong>Clampwidth:</strong>
  <%= @vice.clampWidth %>
</p>

<p>
  <strong>Maxjawwidth:</strong>
  <%= @vice.maxJawWidth %>
</p>

<p>
  <strong>Protectivebaseplateheight:</strong>
  <%= @vice.protectiveBasePlateHeight %>
</p>

<%= link_to 'Edit', edit_vice_path(@vice) %> |
<%= link_to 'Back', vices_path %>
