<!DOCTYPE html>
<html>
    <head>
	<title> GCA Frontend </title>
	<%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

    </head>
    <body>
	<header class="navbar navbar-fixed-top navbar-inverse">
	    <div class="container">
		<nav>
		    <ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home",   '/' %></li>
			<li><%= link_to "Tools",   '/tools' %></li>
			<li><%= link_to "Base Plates",   '/base_plates' %></li>
			<li><%= link_to "Parallel Plates",   '/parallel_plates' %></li>
			<li> <%= link_to "Vices", '/vices' %> </li>
			<li> <%= link_to "Upload Part", '/fab_plan/create' %> </li>
		    </ul>
		</nav>
	    </div>
	</header>
	<div class="container">
	    <%= yield %>
	</div>
    </body>
</html>
